@{
	ViewBag.Titulo = "Erro inesperado";
}

<div class="text-center">
	<div class="col-6 mx-auto">
		<img src="~/images/undraw_bug_fixing.svg" class="img-fluid" />
	</div>

	<p class="fs-5 mt-4">Ocorreu um erro inesperado durante a execução da ação... tente novamente.</p>
	<a asp-action="Index" class="fs-5 mt-4">Voltar para a página inicial</a>
</div>
