@{
    ViewBag.Titulo = "Primeira Etapa do Cadastro de Requisição de Saída";
}

@model PrimeiraEtapaCadastrarRequisicaoSaidaViewModel;

<div class="row justify-content-center">
    <form class="col-lg-8 col-xl-6" asp-action="PrimeiraEtapaCadastrarRequisicaoSaida">

        <div class="mb-3">
            <label asp-for="FuncionarioId" class="form-label">Funcionário</label>
            <select class="form-select" asp-for="FuncionarioId" asp-items="@Model.FuncionariosDisponiveis"></select>
            <span asp-validation-for="FuncionarioId" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="CpfPaciente" class="form-label">CPF do Paciente</label>
            <input class="form-control" asp-for="CpfPaciente">
            <span asp-validation-for="CpfPaciente" class="text-danger"></span>
        </div>

        <div class="d-flex gap-2 justify-content-end">
            <a asp-action="Index" class="btn btn-outline-primary px-5">Voltar</a>
            <button class="btn btn-primary px-5">Gravar</button>
        </div>
    </form>
</div>